name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: yarn lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: yarn test:ci
        env:
          MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
          RPC_AUTH_HEADER: ${{ secrets.RPC_AUTH_HEADER }}

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: yarn coverage
        env:
          MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
          RPC_AUTH_HEADER: ${{ secrets.RPC_AUTH_HEADER }}
      - uses: codecov/codecov-action@v3
